@model List<CourseProject.Models.Entity.AboutEntry>
<div class="about-main-content">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="content">
                    @foreach (var item in Model)
                    {
                        <div class="blur-bg"></div>
                        <h4>@item.FirstTitle</h4>
                        <div class="line-dec"></div>
                        <h2>@item.SecondTitle</h2>
                        <p>@item.Description</p>
                    }
                </div>
            </div>
        </div>
    </div>
</div>