@model List<CourseProject.Models.Entity.Tag>


<div class="row">
    <div class="col-lg-5">
        <div class="section-heading">
            @foreach (var item in Model)
            {
                <h2>@item.FirstTitle</h2>
                <p>@item.SecondTitle</p>
            }
        </div>
    </div>
</div>